langchain==0.2
langchain-community==0.0.11
langchain-openai==0.0.2
langchain-core==0.2.7
pinecone_client==2.2.4
python-dotenv==1.0.0
streamlit==1.28.2
tiktoken==0.5.1
cohere
openai
duckduckgo-search
bs4