beautifulsoup4==4.12.3
langchain==0.3.0
langchain-cohere==0.3.0
langchain-community==0.3.0
langchain-core==0.3.1
langchain-experimental==0.3.0
langchain-openai==0.2.0
langchain-pinecone==0.2.0
langchain-text-splitters==0.3.0
langgraph==0.2.22
langsmith==0.1.121
openai==1.46.0
pinecone==5.2.0
streamlit==1.38.0
duckduckgo-search==6.2.11